<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Grocery Shoppy an Ecommerce Category Bootstrap Responsive Web Template | About Us :: w3layouts</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <style>

    </style>
    <link href="/houseware-service/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/houseware-service/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/houseware-service/css/font-awesome.css" rel="stylesheet">
    <!--pop-up-box-->
    <link href="/houseware-service/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="/houseware-service/css/jquery-ui1.css">
</head>
<body>
<div role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body modal-body-sub_agile">
                <div class="main-mailposi">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                </div>
                <div class="modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Chỉnh sửa thông tin</h3>
                    <form th:action="@{/editUser/{id}(id=${personForm.id})}"
                          th:object="${personForm}" method="POST">

                        <input placeholder="Tên" type="text" th:field="*{name}" required=""/>
                        <br/>
                        <input placeholder="Tên tài khoản" type="text" th:field="*{username}" required=""/>
                        <br/>
                        <input placeholder="Địa chỉ" type="text" th:field="*{address}" required=""/>
                        <br/>
                        <input placeholder="Ngày sinh" type="date" th:field="*{birth}" required=""/>
                        <br/>
                        <input placeholder="Số điện thoại" type="text" th:field="*{phone}" required=""/>
                        <br/>
                        <input placeholder="Email" type="text" th:field="*{mail}" required=""/>
                        <br/>
                        <input placeholder="Mật khẩu" type="password" th:field="*{password}" required=""/>
                        <br/>
                        <input placeholder="Nhập lại mật khẩu" type="password" th:field="*{retypePassword}" required=""/>
                        <br/>
                        <input type="submit" value="Edit"/>
                    </form>
                    <div th:if="${errorMessage}" th:utext="${errorMessage}"
                         style="color:red;font-style:italic;">
                        ...
                    </div>

                </div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
</body>
</html>